@tailwind base;
@tailwind components;
@tailwind utilities;

.greenBrdr{
border-color: #5ac47c;
/* border-color: #1e7a46; */
}
.greenBg{
    background-color: #5ac47c;
}

.greenFont{
    color: #5ac47c;
}